<script>
    document.addEventListener("DOMContentLoaded", function () {
        $("input.search-gnd").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/gnd/search",
                    dataType: "jsonp",
                    data: {
                        q: request.term,
                        format: "json:preferredName,professionOrOccupation",
                    },
                    success: function (data) {
                        response(data);
                    },
                });
            },
            select: function (event, ui) {
                $("#id").val('id:"' + ui.item.id + '"');
            },
        });
    });
</script>
