<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">
    <head>
        <title th:text="${entity.preferredName}">Title...</title>
    </head>
    <body>
        <div layout:fragment="content">
            <h1 class="mb-4" th:text="${entity.preferredName}">Header...</h1>
            <p th:text="${entity.id}">Details...</p>
            <table class="table table-striped table-condensed">
                <tr th:each="field : ${entity}">
                    <td th:text="${entity.labels.get(field.key)}">Key...</td>
                    <td th:text="${@details.label(entity.labels, field.value)}">Value...</td>
                </tr>
            </table>
            <div class="card my-3">
                <div class="card-body">
                    Prototype, current state: render all JSON fields for a GND entity in an HTML
                    table, e.g.:
                    <a href="/gnd/7749153-1">GND</a>, <a href="/gnd/2047974-8">hbz</a>,
                    <a href="/gnd/4031483-2">Köln</a>, <a href="/gnd/118512676">Böll</a>, ...
                </div>
            </div>
        </div>
    </body>
</html>
