<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">
    <head>
        <title>[[${errorDetails.status}]] - [[${errorDetails.error}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="card border-danger">
                <div class="card-header">
                    [[${errorDetails.status}]] - [[${errorDetails.error}]]
                </div>
                <div class="card-body text-danger">
                    <h2>[[${errorDetails.message}]]</h2>
                </div>
                <div th:if="${errorDetails.containsKey('requestId')}" class="card-footer">
                    Request ID: [[${errorDetails.requestId}]]
                </div>
            </div>
        </div>
    </body>
</html>
